@charset "utf-8";
a:link{ text-decoration:underline; color:blue; }
a:visited{ text-decoration:underline; color:#996699; }
a:active{ text-decoration:underline; color:#FF6699; }
a:hover{ text-decoration:underline; color:#FF6699; }
body{ margin-left:4%; margin-right:4%; margin-top:10pt;}
tr,td{ color:#737373;}
hr{ color:#808080; }

#mid{ font-size:100%; }
#small{ font-size:90%; }
#kanri{ color:#009933; } /* 管理人コメントの色 */
#log{ width:630; border-style:solid; border-color:#9999CC; }
#log-0{ background-color:#FFCC66; } /* ランキング順位 */
#log-1{ background-color:#CCCCFF; } /* タイトル */
#log-2{ background-color:#FFCCFF; } /* カテゴリ */
#log-3{ background-color:#FFFFFF; } /* 紹介文 */
#log-4{ background-color:#FFFFFF; } /* 管理人コメント */
#title-bar{ background-color:#ece8b9; color:#000000; } /* タイトルバー */
#mid-bar{ background-color:#f2efce; } /* 中段バー */

.kinto {width: 100%; table-layout: fixed;}
.hanbun { width:50%; padding:0 20px;}
.hanbun table {table-layout: initial; width:auto !important;}
@media screen and (max-width: 760px) {
  body{line-height:200%;}
  ol {padding-inline-start: 20px;}
  ul {padding-inline-start: 5px;}
  ul li {list-style-position:inside;}
  select[name="Fkt1"] {overflow-x: auto; width:250px;}
  #mid { width:100% !important; }
  #mid td { vertical-align: top; }
  .hanbun { padding:0 5px; word-break: break-all;}
}