.m1 {
   background: url(gazo.gif) no-repeat top left;
}
#menu_b { background-position: 0 -3px; } 
#top0 { background-position: 0 -22px; } 
#top_1 { background-position: 0 -85px; } 
#top_6 { background-position: 0 -124px; } 
#begaruta { background-position: 0 -163px; } 
#top_5 { background-position: 0 -194px; } 
#banner5 { background-position: 0 -233px; } 
#rakuten { background-position: 0 -296px; } 
#top_3 { background-position: 0 -327px; } 
#top_2 { background-position: 0 -366px; } 
#clear { background-position: 0 -405px; } 
#top_4 { background-position: 0 -409px; } 
